PAYMENT_PORT=8000
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=secretpassword
DB_NAME=billing_db

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

BASE_URL=http://127.0.0.1:8000
FRONTEND_URL=http://127.0.0.1:3000
PAYMENT_URL=http://payment-api:8000

BUSINESS_PORT=8001
USER_PORT=8002
